body{
    color: rgb(54, 189, 189);
    background-color: rgb(210, 129, 129);
}

header{
    border-bottom:solid 2px rgb(33, 197, 123));
    padding: ;





p {
   text-align: center;
   font: size 10px; ;
}